<div class="title">
    <h1>Ver mascota</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>Mascota</mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong>raza</p>
            <p><strong>Color::</strong>color</p>
            <p><strong>Peso:</strong>peso</p>
            <p><strong>Edad:</strong>edad</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>

